* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 50px;
  background-color: black;
}

html,
body {
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
  height: 100dvh;
  overflow: hidden;
  background: red;
}

.container {
  height: 100svh;
  width: 100%;
  /* background-color: aqua; */
  overflow: auto;
  position: relative;
}

div {
  width: 100%;
}

.header {
  height: 15%;
}
.footer {
  height: 15px;
  position: absolute;
  bottom: 0;
}

.header {
  background-color: black;
}

.footer {
  background-color: yellow;
}

input {
  touch-action: manipulation; /* or none */
}

.body {
  height: 80%;
  overflow: hidden;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 0.5rem;
}

.item {
  background-color: pink;
  padding: 2rem;
  width: 100%;
}

iframe {
  overflow: hidden;
  border: none;
  width: 100%;
  height: 100vh;
  scrollbar-width: none; /* Firefox */
}

iframe::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
